html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    max-width: 1000px;
    margin: 30px auto;
    background-color: #d8cfc7;
}

.body--dark {
    color: rgb(255, 255, 255);
    background: rgba(71, 66, 62, 0.589);
}

.button {
    background-color: #d8cfc7;
    border: solid rgb(66, 66, 66);
    border-radius: 10px;
    margin-left: 5%;
}

.introduction {
    margin: 15px 15px 30px 15px;
    text-align: justify;
    line-height: 1.5;
}

.article {
    margin: 10px;
    text-align: justify;
    line-height: 1.5;
}

.article__title {
    text-align: center;
    font-family: 'Jura', sans-serif;
    margin: 50px 0 0 0;
}

.footer {
    margin: 35px auto;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    background-color: rgb(187, 180, 175);
}

.footer__link:visited {
    color: rgb(46, 46, 46);
}